<h1>Basic</h1>
<ng-antd-color-picker></ng-antd-color-picker>

<h1>DefaultValue</h1>
<ng-antd-color-picker defaultValue="#ff6600"></ng-antd-color-picker>

<h1>Disabled</h1>
<ng-antd-color-picker [disabled]="true"></ng-antd-color-picker>

<h1>Disabled Alpha</h1>
<ng-antd-color-picker [disabledAlpha]="true"></ng-antd-color-picker>

<h1>Custom Render</h1>
<ng-antd-color-picker
  [panelRenderHeader]="title"
  [panelRenderFooter]="input"
  [value]="value"
  (nzOnChange)="onChange($event)"
></ng-antd-color-picker>

<h1>Color Block</h1>
<div style="display: flex; flex-wrap: wrap">
  <ng-container *ngFor="let color of colorPresets">
    <ng-antd-color-block [color]="color" style="margin-right: 8px"></ng-antd-color-block>
  </ng-container>
</div>

<ng-template #title>
  <div style="margin-bottom: 8px">Color Picker</div>
</ng-template>
<ng-template #input>
  <input [(ngModel)]="color" (input)="inputChange($event)" />
</ng-template>
