<h1>Basic</h1>
<ngx-color-picker></ngx-color-picker>

<h1>Disabled</h1>
<ngx-color-picker [disabled]="true"></ngx-color-picker>

<h1>Disabled Alpha</h1>
<ngx-color-picker [disabledAlpha]="true"></ngx-color-picker>

<h1>Custom Render</h1>
<ngx-color-picker
  [panelRenderHeader]="title"
  [panelRenderFooter]="input"
  [value]="value"
  (nzOnChange)="onChange($event)"
></ngx-color-picker>

<h1>Color Block</h1>
<div style="display: flex; flex-wrap: wrap">
  <ng-container *ngFor="let color of colorPresets">
    <ngx-color-block [color]="color" style="margin-right: 8px"></ngx-color-block>
  </ng-container>
</div>

<ng-template #title>
  <div style="margin-bottom: 8px;">
    Color Picker
  </div>
</ng-template>
<ng-template #input>
  <input [(ngModel)]="color" (input)="inputChange($event)" />
</ng-template>
